@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Roboto+Mono:wght@300;400;700&display=swap');

@import url('http://use.fontawesome.com/releases/v5.8.2/css/all.css');

/* Keyframes */
@keyframes unblur { 
    0% {
    }
    50% {
        filter: blur(0.5) hue-rotate(45deg);
    }
    100% {
        filter: blur(0) hue-rotate(0);
    }
}
/* General document styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #33FF33;
}

h1 {
    font-family: 'Cormorant Infant', serif;
}
.terminal-background {
    font-family: 'Roboto Mono', monospace;
}
body {
    background: #282828;
}
a {
    color: #33FF33;
    text-decoration: none;
}
/* Terminal component */
.terminal-background {
    width: 22rem;
    height: 5rem;
    background: #282828;
    margin: 1rem auto;
    opacity: 0.8;
    border: 1px solid #33FF33;
    border-radius: 1.1rem;
    transition: 2s;
    overflow: hidden;
}
.inputline-dir {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #33FF33;
    padding: 1rem;
}
.inputline-dir > p, .cursor, .cmd, .cover {
    display: inline-block;
}
.cursor, cmd {
    width: 10rem;
}
.cmd, .cursor-stationary, .cursor, .cover, .inputline-dir section {
    position: absolute;
}
/* Header component */
header {
    display: flex;
    align-items: center;
    background: #282828;
    padding: 1rem;
}
header img {
    width: 40%;
    border-radius: 50%;
    border: 2px solid #33FF33;
}
/* Nav bar Component */
header nav {
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
header nav a {
    color: #33FF33;
    text-decoration: none;
}
details > summary, details {
    width: 100%;
    list-style: none;
    text-align: end;
    font-size: 2rem;
}
details nav {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem;
}
details nav a {
    padding: 2rem;
}

/* Main component */
main, figure {
    display: flex;
}
main {
    background: #282828;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 1.5rem;
}

.hero img {
    opacity: 0.8;
    width: 100%;
    filter: blur(0.9rem) hue-rotate(85deg);
    animation: unblur 2.5s linear forwards;
    padding-top: 3rem;
}
.hero, main > article > p {
    padding: 2rem;
    font-size: 1.5rem;
}
.hero, main > article > p, main article article p {
    letter-spacing: 0.05rem;
}
.hero h1 {
    padding: 1.5rem 0 1.5rem 2rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
.hero p, main article > p {
    line-height: 1.45;
    letter-spacing: 0.05rem;
}
main > article > p {
    padding-top: 2rem;
    margin-top: 4rem;
}
main > article > h2 {
    font-size: 1.8rem;
    padding: 1.2rem 1.5rem;
    letter-spacing: 0.2rem;
}
main > article > p, main > article > h2{
    margin: 1.25rem 0;
}
main > section {
    padding: 10rem 10rem 14rem;
    justify-content: center;
    align-content: center;
}
/* Main component blog pages */
main article article h2, main article article p {
    text-align: center;
} 
main article article h2 {
    font-size: 1.8rem;
    padding: 1.2rem 1.5rem 1rem;
    letter-spacing: 0.2rem;
    margin-top: 6rem;
}
main article article p {
    padding: 0 2rem 2rem;
    font-size: 1.10rem;
    color: #fff;
}
main article figure img {
    max-width: 90%;
}
figure {
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin-top: 4rem;
}
/* Footer Component */
footer {
    background: #282828;
    width: 100%;
    padding: 3rem 2rem;
    font-size: 1.5rem;
}
#social-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#social-links div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 1rem 0 2rem;
}
.fa-github:hover {
    color: #f0f6fc;
    opacity: 0.7;
}
.fa-linkedin:hover { 
    color: #0a66c2;
}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-envelope:hover {
    color: #fff;
}