@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Roboto+Mono:wght@300;400;700&display=swap');

@import url('http://use.fontawesome.com/releases/v5.8.2/css/all.css');

/* Keyframes */
@keyframes blink {
    0% {
        background-color: #33FF33;
    }
    45% {
        background-color: #33FF33;
    }
    50% {
        background: #000;
        opacity: 0.7;
    }
    95% {
        background: #000;
        opacity: 0.7;
    }
    100% {
        background-color: #33FF33;
    }
}

@keyframes move { 
    30% {
        transform: translateX(5rem);
    }
    100% {
        transform: translateX(5rem);
    }

}
@keyframes move-cover { 
    30% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(0);
    }

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #33FF33;
}

h1 {
    font-family: 'Cormorant Infant', serif;
}
.terminal-background {
    font-family: 'Roboto Mono', monospace;
}
body {
    background: #000;
}
a {
    color: #33FF33;
    text-decoration: none;
}

/* Header component */
header {
    display: flex;
    align-items: center;
    background: black;
    padding: 1rem;
}
header img {
    width: 40%;
    border-radius: 50%;
    border: 2px solid #33FF33;
}
header nav {
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
header nav a {
    color: #33FF33;
    text-decoration: none;
}

/* Main component */
/* main {
    background: #EEE url(images/background3.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: 290vw;
    height: 100vh;
} */
main {
    /* height: 100vh; */
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
main img {
    opacity: 0.8;
    width: 100%;
    /* height: 40%; */
}
details {
    width: 100%;
}
details > summary, details {
    width: 100%;
    list-style: none;
    text-align: end;
    font-size: 2rem;
}
details nav {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem;
    
}
/* Terminal component */
.terminal-background {
    width: 22rem;
    height: 5rem;
    background: #000;
    margin: 1rem auto;
    opacity: 0.8;
    border: 1px solid #33FF33;
    border-radius: 1.1rem;
    transition: 2s;
    overflow: hidden;
}
.inputline-dir {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #33FF33;
    padding: 1rem;
}

.inputline-dir > p, .cursor, .cmd, .cover {
    display: inline-block;
}
.root {
    width: rem;
}
.cmd {
    left: 9.5rem;
}
.cursor, cmd {
    width: 10rem;
}
.cursor, .cursor-stationary {
    background-color: #33FF33;
    width: 0.5rem;
    height: 1.3rem;
    z-index: 3;
    top: 1.1rem;
}
.cursor-stationary {
    animation: blink 0.8s linear infinite;
    left: 14rem;
}
.cmd, .cursor-stationary, .cursor, .cover, .inputline-dir section {
    position: absolute;
}
.cover {
    width: 5rem;
    height: 1.2rem;
    background-color: #000;
    z-index: 2;
    top: 1.1rem;
    transform-origin: right;
}
.terminal-background:hover .cursor-stationary, .hidden {
    display: none;
}
.terminal-background:hover .hidden {
    display: block;
    z-index: 4;
    top: -3.35rem; /* 2.16rem */
}
.terminal-background:hover .hidden, .inputline-dir {
    position: relative;
}
.cursor-anim {
    animation: move 5s linear forwards, blink 0.8s linear infinite;
}
.cover-anim {
    animation: move-cover 5s linear forwards;
}

.terminal-background:hover {
    height: 10rem;
}

/* Footer Component */
footer {
    background: #000;
    width: 100%;
    height: 5rem;
    /* margin: 4rem 0; */
    padding: 3rem 2rem;
}
#social-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#social-links div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 1rem 0 2rem;
}
.fa-github:hover {
    color: #f0f6fc;
    opacity: 0.7;
}
.fa-linkedin:hover { 
    color: #0a66c2;
}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-envelope:hover {
    color: #fff;
}