/* Keyframes */
@keyframes move {
    30% {
        transform: translateX(5rem);
    }

    100% {
        transform: translateX(5rem);
    }

}
/* "ls about" cursor placement */
.cmd {
    left: 8.5rem;
}
.cursor,
.cursor-stationary {
    background-color: #33FF33;
    width: 0.5rem;
    height: 1.3rem;
    z-index: 3;
    top: 1.1rem;
}
.cursor-stationary {
    animation: blink 0.8s linear infinite;
    left: 8rem;
}
.cover {
    width: 5rem;
    height: 1.2rem;
    background-color: #282828;
    z-index: 2;
    top: 1.1rem;
    transform-origin: right;
}
.cursor-anim {
    animation: move 5s linear forwards, blink 0.8s linear infinite;
}
.cover-anim {
    animation: move-cover 5s linear forwards;
}
.terminal-background {
    height: 25rem;
}
.terminal-background .hidden, .inputline-dir {
    position: relative;
}
/* Terminal content */
.hover {
    display: none;
}
.hidden section,
main>section,
.hidden section div {
    display: flex;
}
.hidden section div {
    flex-direction: column;
    padding: 2rem 1rem;
    align-content: center;
    justify-content: center;
}
.hidden section div a p {
    padding: 1.5rem 0.5rem;
    font-size: 1.8rem;
}
.hidden section div a p {
    color: #fff;
}
.hidden .resume {
    color: #FFBB00;
}

/* Media Queries */
/* To account for a tablet device used in landscape mode, max width for a tablet will be assumed as 1080 px. The follow media query sets terminal defualt display on mobile devices as follow expanded, with the hover feature only for devices with a pointer. It also only enables other hover features for screens larger than 1080 */
@media only screen and (min-width:1081px) {
    .terminal-background {
        height: 4rem;
    }

    .hover,
    .terminal-background:hover .hidden {
        display: block;
    }

    .terminal-background:hover {
        height: 25rem;
    }

    .terminal-background:hover .cursor-stationary,
    .hidden {
        display: none;
    }

    .terminal-background:hover .hidden {
        z-index: 4;
        top: -3.35rem;
        /* 2.16rem */
    }

    .terminal-background:hover .hidden,
    .inputline-dir {
        position: relative;
    }

    .hidden section div a p:hover {
        color: #33FF33;
        opacity: 0.7;
        transform: perspective(3rem) translateZ(-0.2rem);
    }

    .hidden .resume:hover {
        color: #FFCC00;
    }
}